body{

}
header{
	text-align: center;
    position: relative;
    background-color: rgb(82, 82, 82);
    width: 100%;
    height: 50px;
}
.navbar-default{
	border: none;
}
.header{
	background-color: rgb(82, 82, 82);
	color: white !important;
}
.container{
	width: 90%;
	position: relative;
	margin: auto;
}
.footer{
	margin-bottom: 0;
	padding: 20px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(82, 82, 82)
}

.txtFooter{
	color: white;
}

@media(min-width: 768px){
	.navbar-collapse.collapse {
	    display: none !important;
	}
	.navbar-collapse.collapse.in{
	    display: block !important;
	}
}

@media (max-width: 992px){
	.navbar-collapse.collapse{
		display: none !important;
	}
	.navbar-collapse.collapse.in{
	    display: block !important;
	}
	.navbar-toggle {
    	display: block !important;
	}
}

@media (min-width: 992px){
	collapse {
	    display: block !important;
	}
	.navbar-toggle {
    	display: none !important;
	}
}
@media (max-width: 768px){
	.container{
		width: 100%;
		position: relative;
		margin: auto;
	}
}